apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app-v2
  labels:
    app: sample-app
    version: v2
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sample-app
      version: v2
  template:
    metadata:
      labels:
        app: sample-app
        version: v2
    spec:
      containers:
        - name: sample-app
          image: httpd:latest
          ports:
            - containerPort: 80
