apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app-v1
  labels:
    app: sample-app
    version: v1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sample-app
      version: v1
  template:
    metadata:
      labels:
        app: sample-app
        version: v1
    spec:
      containers:
        - name: sample-app
          image: nginx:latest
          ports:
            - containerPort: 80

